.home-landing {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media screen and (max-width: 769px) {

    .home-landing {
        width: 100%;
      }

  }