.home-landing {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    display: block;
    margin: auto auto auto auto;
}

.submit-button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    align-items: center;
  }






@media screen and (max-width: 769px) {

    .home-landing {
        width: 100%;
    }

}