#mapid {
    height: 100vh;
    display: block;
    margin: auto;
}

.map-container {
    display: block;
    margin: auto;
    z-index: 0;
}

.slider-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.slider-container .slider-label-input-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    /* margin-left: 20vw; */
}

.slider-label-input-container {
    margin: 0 3vw 0 3vw;
}

.preview-image {
    height: 20vh;
}

.columnated {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    -ms-grid-rows: minmax(100px, auto);
}

.direction {
    width: 30vw;
}

/* 
.slider-input {
  width: 80%;
} */

.image-group {
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 769px) {

    .image-group {
        width: 100%;
    }

}