@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  background: #fafafa;
  position: relative;
  font-family: "roboto", sans-serif;
  padding-top: 50px;
}

img {
  display: block;
  margin: auto;
}

.post-image {
  width: 95%;
  height: auto;
  border: black;
  border-style: solid;
  border-width: thin;
  margin: 2% auto;
}

#mapid {
  height: 100vh;
  display: block;
  margin: auto;
}



.nav-items.hidden {
  display: none;
}



.brand-img {
  height: 100%;
  margin-top: 5px;
}

.user-profile {
  width: 22px;
  border-radius: 50%;
  background-size: cover;
}

.post {
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-col {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-items: center;
}

.post-content {
  width: 100%;
  padding: 20px;
}


.navbarIcon {
  height: 30%;
  width: 20%;
  margin: 0
    /* margin-top: 5%; */
}



.profileNav {

  align-self: center;
  width: 40%
}

.navbarIcon2 {
  width: 60%;
  height: 70%;
  margin-top: 5%;
}





.navIconLink {
  align-items: right;
  text-decoration: none;
}



.navHeadline {
  margin-right: -50%;
}

.altClassName {
  width: 100vw;
}

.altClassName2 {
  width: 1px;
}





/* 
.slider-input {
  width: 80%;
} */


.searchBar2 {
  border: 1px solid grey;
  border-radius: 75px;
  padding: 8px 10px;
  display: flex;
  gap: 5px;
  width: 200px;
  margin: 0 auto;
}

.searchBarButton {
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}

.searchBarInput {
  border: none;
  outline: none;
  width: 100%;
}


@media screen and (max-width: 769px) {


  .post-image {
    width: 100%;
  }

  body {
    width: 100%;
    padding-top: 50px;
  }



  .icon {
    margin: 0 5px;
  }


  .nav-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }







  .navbarIcon,
  .navbarIcon1,
  .navbarIcon2 {
    width: 7%;
  }



  .searchText {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}